{% extends 'base.html.twig' %}

{% form_theme formComment 'bootstrap_4_layout.html.twig'%}

{% block body %}


	

		<h3> Ajout d'un commentaire</h3>
		{{ form_start(formComment)}}

		

		{{ form_row(formComment.author,{'attr':{'placeholder':"Auteur"}}) }}
		
		{{ form_row(formComment.content,{'attr':{'placeholder':"commentaire"}}) }}
		

		<button type="submit" class="btn-success"> 
				

				Ajouter Commentaire
			

		</button>
		
			
		{{ form_end(formComment)}}

{% endblock %}